* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f1f1f1;
}

.container {
    display: flexbox;
}

nav {
    background-color: #245381;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
}

.logo {
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

a {
    color: #fff;
    font-size: 14px;
    display: table;
    width: 100%;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav .fas {
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover {
    background-color: #555;
}

.logout {
    position: absolute;
    bottom: 0;
}

/* Estilos para los formularios */
.form-container {
    position: fixed;
    top: 0;
    left: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    z-index: 999;
}

.forms-container form {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
    max-width: 1000px;
    width: 100%;
    display: none;
}

.forms-container form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.forms-container form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.forms-container form table {
    margin-top: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.forms-container form th,
.forms-container form td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

.forms-container form th {
    background-color: #f2f2f2;
    text-align: left;
}

.forms-container form td {
    text-align: right;
}
.form-container td form {
    display: flex;
    gap: 10px;
}